.main-course{
    margin-left: 235px;
    margin-right: 235px;
}
.main-course__p{
    font-weight: 700;
    font-size: 46px;
}
.main-course-time{
    margin-top: 55px;
    justify-content: flex-start;
}
.main-course-time__border{
    flex-direction: column;
    border: solid #121212;
    padding: 15px 22px;
    background-color: #121212;
    margin-right: 20px;
}
