.main-content{
    margin-left: 235px;
    margin-right: 235px;
    margin-top: 145px;
}
.main-content-what-do{
    justify-content: space-between;
    align-items: flex-start;
}
.what-do__img{
    margin-right: 105px;
}
.what-do__img--rectangle1{
    width: 395px;
    height: 375px;
    background: url("../../img/content/rectangle1.png") no-repeat;
    background-size: contain;
    align-items: flex-end;
}
.what-do__img--computer{
    width: 335px;
    position: relative;
    bottom: -30px;
}
.what-do-description{
    margin-top: 55px;
}
.what-do-description__h{
    font-size: 35px;
    margin-bottom: 35px;
}
.what-do-description__text{
    line-height: 160%;
}
