.main{
    margin-top: 160px;
}
.main-container{

}
.main-h{
    margin: 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 140%;
}
.main-text{
    margin: 0;
    font-size: 12px;
    line-height: 140%;
}
.main-text_opacity{
    opacity: 0.4;
}
