.main-course{
    margin-left: 16%;
    margin-right: 16%;
}
.main-course__p{
    font-weight: 700;
    font-size: 46px;
}
.main-course-time{
    margin-top: 6%;
    justify-content: flex-start;
}
.main-course-time__border{
    flex-direction: column;
    border: solid #121212;
    padding: 15px 22px;
    background-color: #121212;
    margin-right: 20px;
}
